body {
    background-color: #faf8ef;
  }

  #map {
    width: 800px;
    margin: 0 auto;
  }

  .node {
      stroke: #fff;
      stroke-width: 1px;
  }
  .node-active {
      stroke: #555;
      stroke-width: 1px;
  }
  .link {
      stroke: #555;
      stroke-opacity: .3;
  }
  .link-active {
      stroke-opacity: 1;
  }
  .overlay {
      fill: none;
      pointer-events: all;
  }
  .circle, .button {
    cursor: pointer; 
    cursor: hand;
  }


  .nodetext, .attempt, .opis, .replay { 
      color: #000;
      pointer-events: none;
      font-size: 20pt;
      font-weight: bold;
      font-family: Helvetica, sans-serif;
  }

  .attempt, .opis, .replay {
      font-size: 16pt;      

  }
  .replay {
      font-size: 12pt;
  }